.venv/
__pycache__/
*.pyc
.DS_Store

# Ignore images generally in root/assets
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.ico

# But allow images required for website
!website/**/*.png
!website/**/*.jpg
!website/**/*.jpeg
!website/**/*.gif
!website/**/*.svg
!website/**/*.webp
!website/**/*.ico
